body{
    font-family: 'Roboto', sans-serif ;
}
.background{
    background-image: url(/image/Accueil_images/africa-EG.webp);
    height: 100vh;
   background-size: contain;
    background-repeat: no-repeat;

    
  
  
}


.text {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}

.images{
    height: 30vh !important;
    width: 50vh !important;

}
h4{
    font-family: 'Roboto', sans-serif;
    color: red;
    font-weight: 900;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    
}
.img1-m{
    margin-right: 5vh;
}

button{
    width: 25vh !important;
    border-radius: 0  !important;
    font-family: 'Roboto', sans-serif;
}

.border{
    border-radius: 0px !important;
}
    

.bg-titre-programme{
    background-color: red;
    color: white;
    height: 80px;
    width: 100%;
    
    
}
h1{
    font-family: 'Jura', sans-serif;
}



.espace-blanc{
    background-color:  red;
    height: 2vh;
}

.bg-programme{
    background-color: #097188;
    height: 80vh;
}

.description-programme{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 0 !important;
    font-size: 2.5vh;
}

/* ==========================
ICI LES BOUTTONS DES PROGRAMMES
========================== */
.btn1{
    background-color:#FF6B00;
    color: white;
    border-radius: 0px !important;
    font-family: 'Roboto', sans-serif !important;
    
}

.btn2{
    background-color: #2E1FD7;
    color: white;
    border-radius: 0px !important;
    font-family: 'Roboto', sans-serif !important;
}

.btn3{
    background-color: #FFBB0E;
    color: white;
    border-radius: 0px !important;
    font-family: 'Roboto', sans-serif !important;
}