.mb-titre{
    margin-bottom: 3em !important;
    border-radius: 1em !important;
 }
 .h1-dev-mentor{
 font-size: 7em !important;
 }

 @media all and (max-width: 1300px) {
    .w-img-carousel{
        height: 35em !important;
    }

    .h1-dev-mentor{
        font-size: 2em !important;
        }
 }
 .bg-container {
    background: url('../images/femme-ordi-2.webp');
 }

 .bg-cover {
    background-position: center ;
    background-size: cover;
 }