@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

h1, h2, h3, h4, a, .h1-dev-mentor{
    font-family: 'K2D', sans-serif;
}
a{
    font-family: 'Jura', sans-serif;
}

*{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.font-form *{
    font-family: 'K2D', sans-serif;
}