.mb-titre{
    margin-bottom: 3em !important;
    border-radius: 1em !important;
}
.h1-dev-mentor{
font-size: 7em !important;
}

.bg-1{
    background-image: url('../image/bg-dev-mentor1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-afrique-eg{
    background-image: url('../image/afrique-eg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opacity-personal{
    opacity: 0.85 !important;
}

.image-partenaire{
    height: 15em;
}

.bg-footer{
    background-color: #CACACA;
}

.background-red{
    background-color: #F40000;
}
.invisible{
    opacity: 0;
    height: 50vh;
}

.personal-margin{
    margin: 0 auto;
}

.border-raduis-personal{
    border-radius: 1.5em;
}

.margin-y-personal{
    margin-top: 5em !important;
    margin-bottom: 8em !important;
}

.text-align-justify{
    text-align: justify;
}

.w-personal{
    width: 70%;
}

.w-personal1{
    width: 40%;
}

@media all and (max-width: 1300px) {
    .w-img-carousel{
        height: 35em !important;
    }

    .h1-dev-mentor{
        font-size: 2em !important;
        }
}

.bgr1{
    background-image: url("../image/bg_2.webp") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}
.bgr2{
    background-image: url("../image/bg_3.webp") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}
.bg-entrepreneur-step{
    background-color: #0d6efd !important;
    opacity: 0.5 !important;
}

.bg-discours{
    background-color: #EA4E1D !important; 
}

