/*
=======================
CSS de la page accueil
=======================
*/


/*
=============================
CSS de la page nos programmes
=============================
*/


/*
===========================
CSS de la page energy space
===========================
*/


/*
====================
CSS de la page blog
====================
*/


/*
=============================
CSS de la page devenir mentor
=============================
*/
.mb-titre{
    margin-bottom: 3em !important;
    border-radius: 1em !important;
}
.h1-dev-mentor{
font-size: 5em !important;
}

.bg-1{
    background-image: url('../image/bg-dev-mentor1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-afrique-eg{
    background-image: url('../image/afrique-eg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opacity-personal{
    opacity: 0.85 !important;
}

.image-parle-de-nous{
    height: 15em;
}

.bg-footer{
    background-color: #CACACA;
}

.background-red{
    background-color: #F40000;
}
.invisible{
    opacity: 0;
    height: 50vh;
}

.personal-margin{
    margin: 0 auto;
}

.border-raduis-personal{
    border-radius: 1.5em;
}

.margin-y-personal{
    margin-top: 5em !important;
    margin-bottom: 8em !important;
}

.text-align-justify{
    text-align: justify;
}

.w-personal{
    width: 70%;
}

.w-personal1{
    width: 40%;
}

.img-sociaux{
    width: 70px !important;
    height: 70px !important;
}

.w-img-carousel{
    height: 60em !important;
}

@media all and (max-width:900px){
    .flex-wrap-mobile{
        flex-wrap: wrap;
    }
    .w-img-blog{
        width: 110% !important;
    }
}


@media all and (max-width: 1300px) {
    .w-img-carousel{
        height: 35em !important;
    }

    .h1-dev-mentor{
        font-size: 2em !important;
        }
}


/*
=======================
CSS typography
=======================
*/

@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

h1, h2, h3, h4, a, .h1-dev-mentor{
    font-family: 'K2D', sans-serif;
}
a{
    font-family: 'Jura', sans-serif;
}

*{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.font-form *{
    font-family: 'K2D', sans-serif;
}



/*
=============================
CSS commun à toutes les pages
=============================
*/

.image-parle-de-nous{
    height: 15em;
}

.img-sociaux{
    width: 70px !important;
    height: 70px !important;
}


/*
=======================
CSS animation
=======================
*/

a:hover{
    color: rgb(10, 163, 239) !important;
}

.personal-blue{
    color: #00aae3!important;
}